<html>
	<head>
		<title> Main </title>

		<style>
			body { background-image: url(assets/bg-main-inn.gif); }
			#wrapper { 	margin: auto; 
						width: 1000px; 
						background-color: fff;
						position: relative;
						display: block;
						background: none repeat scroll 0 0 white;
					}

			#bar-top { background-image: url(assets/bg-main-container-rev.gif); 
				height: 234px;
				width: 100%;
				position: absolute;
				left: 0px;
				top: 0px;
			}

			#bar-bottom {
				background-image: url(assets/bg-main-container.gif); 
				height: 234px;
				width: 100%;
				position: absolute;
				left: 0px;
				bottom: 0px;
			}

			h1 { color: #0094CD;
				text-align: center; 
				font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
			}
		</style>
	</head>

	<body>		
		<div id="bar-top"> </div>
		
		<div id="wrapper">
			<h1> Розробка програмного забезпечення аналізу динаміки успіності студентів в учбовому процесі </h1>
			<br>
			<p> Іщенко А.О. КІ-12-3М </p>
			<p> КНТУ 2013 </p>
		</div>
		
	</body>
</html>
