<script>
	$(function(){
		$("#slides").slides({
			responsive: true
		});
	});
</script>

<div id="wrapper">
	<div class="row">
		<div id="main-slider" class="span12">
			<div id="slider_container">
				<div id="slides">
					<img src="slides/slide-1.jpg" width="100%" alt="Slide 1">
					<img src="slides/slide-2.jpg" width="100%" alt="Slide 2">
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div class="row">
		<div id="main-user-form" class="span6">
			<span> User Log in/Sign Up </span>
		</div>
		<div id="main-articles-form" class="span6">
			<span> News </span>
		</div>
	</div>
</div>

