- breadcrumb :semesters
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

%table.table.table-hover
  - @semesters.each do |semester|
    %tr
      %td= link_to semester.name, url_for( semester_study_groups_path(semester) )