= render 'application/statistic_navigation'

%table.table.table-bordered.table-hover
  - @teachers.each do |teacher|
    %tr
      %td= link_to teacher.name, url_for( semester_teacher_path(@semester, teacher) )