-# Modal
.modal.hide.fade{:id => id, :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'myModalLabel',
  'aria-hidden' => 'true'}
  .modal-header
    %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}= '×'
    %h3= lesson_mark.new_record? ? t('new_mark_title') : t('edit_mark_title')
  .modal-body
    = render 'lesson_mark/form', :lesson_mark => lesson_mark