-# Modal
.modal.hide.fade{:id => id, :tabindex => '-1', :role => 'dialog', 'aria-labelledby' => 'myModalLabel', 'aria-hidden' => 'true'}
  .modal-header
    %button{:type => 'button', :class => 'close', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'}= '×'
    %h3= additional_mark.new_record? ? t('new_additional_mark_title') : t('edit_additional_mark_title')
  .modal-body
    = render 'additional_mark/form', :additional_mark => additional_mark