- breadcrumb :schedule, @study_group
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

%h2.horizontal_centered= I18n.t('active_admin.schedule.title_index')
= render 'application/schedule'