%p API розподілено на наступні логічні об'єкти:

%ul
	%li Семестри
	%li Групи
	%li Студенти
	%li Предмети

%p
	Деякі об'єкти є вкладеними в інші. Наприклад студенти належать до групи, 
	тому доступ до них можливий тільки якщо вказаний ідентифікатор групи.