<p>
	API розподілено на наступні логічні об'єкти:
</p>
<ul>
	<li>Семестри</li>
	<li>Групи</li>
	<li>Студенти</li>
	<li>Предмети</li>
</ul>
<p>
	Деякі об'єкти є вкладеними в інші. Наприклад студенти належать до групи, 
	тому доступ до них можливий тільки якщо вказаний ідентифікатор групи.
</p>