%p 
	REST API є основним інтерфейсом для всіх операцій. 
	Це самий прямий спосіб доступу до API. 
	Цей довідковий документ призначений для тих, хто зацікавлений у розробці додатків, або для тих, 
	хто зацікавлений у вивченні API функцій в деталях.

%p
	API має можливість повертати дані у форматі xml та json.
	За замовчування відповідь формується в json форматі.
	Щоб вказати явно тип даних в якому дані будуть відправлені необхідно просто додати розширення .xml або .json.

%p
	API знаходиться за адресою server_adress/api/v1/ ... та надає доступ тільки на читання.
