// Place all the styles related to the developers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.api_sample_btn{cursor:pointer;}
.topic_link{font-size:24px;margin:10px 0;font-family:inherit;font-weight:300;line-height:28px;color:inherit;text-rendering:optimizelegibility}
.request_param_name{color: #880088;}
.topics_list{list-style: none;}
.api_request_type>span{color: #099;}
