// Place all the styles related to the group_schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";

$table_width: 960px;
$count_columns: 5;

$column_width: $table_width / $count_columns;
$column_height: 110px;

$column_half_width: $column_width / 2;
$column_half_height: $column_height / 2;

$border_width: 1px;
$border_color: $tableBorder;

.schedule_div {
  margin: 0 -10px;
  overflow-y: hidden;
  overflow-x: auto;
}

table.schedule_table {
  width: $table_width;
  border-collapse:collapse;
  border-spacing:0;
  padding:0;
  margin:0;
}

.schedule_general_table_wrapper {
  border-top:$border_width solid $border_color;
  width: $column_width;
  height: $column_height;
  max-width: $column_width;
  max-height: $column_height;
}

table.schedule_table td, th{
  height:inherit;
  padding:0;
  text-align:center;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.schedule_table td div {
  overflow: hidden;
  text-overflow: ellipsis;
}

table.schedule_table td:first-child div:first-child {
  border-left-color: #ffffff;
}

.half_height {
  height: $column_half_height;
}

.half_width {
  width: 50%;
  max-width: 50%;
}

.horizontal_block{
  width: 100%;
  height: 50%;
}

.half_vertical_block{
  vertical-align: middle !important;
  display: table-cell;
  text-align: center;
  width: 50%;
  max-width: 50%;
  height: $column_half_height;
}

.vertical_block{
  vertical-align: middle !important;
  display: table-cell;
  text-align: center;
  width: 50%;
  max-width: $column_half_width;
  height: $column_height;
}


.vertical_block_resizer{
  display: table-cell;
  width: 1px;
}

.horizontal_delimeter{
  width: 100%;
  height: 1px;
  background-color: $border_color;
}

.left_border {
  border-left:$border_width solid $border_color;
}

.full_width {
  width: $column_width;
}

.full_height {
  height: $column_height;
}

.centered_cell {
  vertical-align: middle !important;
  display: table-cell;
}

.normal_font {
  font-size: 14px;
}

.smaller_font_12 {
  font-size: 12px;
}

.smaller_font_11 {
  font-size: 11px;
}

.smaller_font_10 {
  font-size: 10px;
}