// Place all the styles related to the group_schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";

$table_width: 960px;
$count_columns: 5;

$column_width: $table_width / $count_columns;
$column_height: 110px;

$column_half_width: $column_width / 2;
$column_half_height: $column_height / 2;

$border_width: 1px;
$border_color: $tableBorder;

.schedule_div {
  margin: 0 -10px;
  overflow-y: hidden;
  overflow-x: auto;
}

table.schedule_table {
  width: $table_width;
  border-collapse:collapse;
  border-spacing:0;
  padding:0;
  margin:0;
}

.schedule_general_table_wrapper {width: $column_width; height: $column_height;}

table.schedule_table td, th{
  height:inherit;
  padding:0;
  text-align:center;
}

table.schedule_table td:first-child div:first-child {
  border-left-color: #ffffff;
}

.left_align_cell { float: left; }
.top_align_cell { float: top; }

.half_height {
  height: $column_half_height - $border_width;
}

.half_height div {
  max-height: $column_half_height - $border_width;
  overflow: hidden;
  text-overflow: ellipsis;
}

.half_width {
  width: $column_half_width - $border_width;
}

.half_width div {
   max-width: $column_half_width - $border_width;;
}

.top_border {
  border-top:$border_width solid $border_color;
}

.left_border {
  border-left:$border_width solid $border_color;
}

.full_width {
  width: $column_width - $border_width;
}

.full_width div {
  max-width: $column_width - $border_width;
}

.full_height {
  height: $column_height - $border_width;
}

.full_height div {
  max-height: $column_height - $border_width;
}

.bottom_border {
  border-bottom:$border_width solid $border_color;
}
.centered_cell {
  //vertical-align: middle;
  //display: inline-block;
  vertical-align: middle;
  display: table-cell;
}

.auxiliary_center{
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 100%;
}

.word_wrap {
  //word-wrap: break-word;
  //white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}

.normal_font {
  font-size: 14px;
}

.smaller_font_12 {
  font-size: 12px;
}

.smaller_font_11 {
  font-size: 11px;
}

.smaller_font_10 {
  font-size: 10px;
}