// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#double_classes_dropdown, #subjects_dropdown {
  height: 38px;
  width: 100%
}

.horizontal_centered{text-align: center !important;}

.students_table tbody {
  display: table;
  width: 100%;
}

.students_table {
  width: 100%;
  display: block;
}

#marks{
  overflow-x: auto;
  width: 100%;
  display: block;

  overflow: auto;
  margin-bottom: 0;
}

#marks td, th {
  border-left: 1px solid lightgray;
}

#marks td:first-child, th:first-child {
  border-left: 0;
}

#names {
  border-right: 1px solid lightgray;
  display: block;

  overflow-y: hidden;
  margin-bottom: 0;
}

.header_height {
  height: 50px;
}

#td_names {
  vertical-align: top;
  min-width: 150px;
  width: 150px;
  padding: 0;
}

#td_marks {
  width: 100%;
  max-width: 100px;
  vertical-align: top;
  padding: 0;
}

.invisible_table {
  display: none;
}

#sizable_table {
  overflow: hidden;
  margin-bottom: 0;
}