// Place all the styles related to the VisualEditor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.visual-editor {
  overflow: auto;
}

table.visual-editor {
  width: auto;
  border-width: 0px;
}

.lesson-header {
  min-width: 150px;
}

.imagine-lesson {
  border-top-style: dashed !important;
  border-left-style: dashed !important;
  width: 50px;
}

.left-align {
  text-align: left;
}

.center-align {
  text-align: center !important;
}

table.visual-editor td:first-child, th:first-child {
  border-left-width: 0px !important;
}

table.visual-editor th {
  text-align: center;
}

table.visual-editor td.lesson_cell {
  text-align: center;
}

table.visual-editor td.lesson_cell .actions, table.visual-editor th.lesson-header .actions {
  display: none;
}

table.visual-editor td.lesson_cell:hover, th.lesson_cell:hover {
  background-color: #eeeeee;
}

.module_badge {
  top: -1em;
  font-size: 10px;
  padding: 0 4px 0 4px;
}