- breadcrumb :teacher_semesters
= render 'application/breadcrumb', breadcrumb_wrapper_class: ''

- if @semesters
  %table.table.table-hover
    - @semesters.each do |semester|
      %tr
        %td= link_to semester.name, teacher_semester_double_classes_path(semester)
- else
  = 'You do not teach in any semesters yet'