%div{:class => breadcrumb_wrapper_class}
  %ul.breadcrumb
    - @navigation.each do |navigation_element|
      - if navigation_element[:url].nil?
        %li.active
          = navigation_element[:name]
      - else
        %li
          = link_to navigation_element[:name], navigation_element[:url]
          %span.divider
            = '/'