.navigation_bar
  - @navigation.each do |navigation_element|
    - if navigation_element[:url].nil?
      %span.navigation_element.active_element
        = navigation_element[:name]
    - else
      %span.navigation_element
        = link_to navigation_element[:name], navigation_element[:url]
      %span.navigation_separator
        = "  /  "