<ul class="nav">
	<div class="row">
		<div class="span3">
			Всі права захищено. КНТУ 2013
			<br>
			Іщенко А.О. КІ(ПМ)-12М
		</div>
		<div id="footer-description" class="span9">
			Розробка програмного забезпечення аналізу динаміки успіності студентів в учбовому процесі
		</div>
	</div>
	</div>
</ul>