<div class="row">
	<div class="c_3">
		Всі права захищено. КНТУ 2013
		<br>
		Іщенко А.О. КІ(ПМ)-12М
	</div>
	<div id="footer-description" class="c_9">
		Розробка програмного забезпечення аналізу динаміки успіності студентів в учбовому процесі
	</div>
</div>
